@page "/about"

<PageTitle>About</PageTitle>

<h1>Small personal project</h1>
<p>Simple Todo web application with Cookie authentication, Backend Api,Postgres database</p>
<h4>Source code:</h4>
<ul>
    <li><a href="https://github.com/samuelburger27/TodoAppFrontEnd">Front End</a></li>
    <li><a href="https://github.com/samuelburger27/TodoAppApi">BackEnd End</a></li>
</ul>