@using WebAss.Models


<div class="form-field">
    <label>Title:</label>
    <div>
        <InputText @bind="TodoForm.Name"/>
        <ValidationMessage For="@(() => TodoForm.Name)" />
    </div>
</div>
<div class="form-field">
    <label>Notes:</label>
    <div>
        <InputText @bind="TodoForm.Notes"/>
        <ValidationMessage For="@(() => TodoForm.Notes)" />
    </div>
</div>


@code {
    [Parameter] public TodoForm TodoForm { get; set; }
}